@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header_reservation .header_bouton:hover, .partie-commander_btn-commande:hover, .cards:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cards_images {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-l, .btn-2, .btn-2__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  border-radius: 25px;
  height: 90px;
  -webkit-box-shadow: 5px 5px 10px silver;
          box-shadow: 5px 5px 10px silver;
}

.btn-l:hover, .btn-2:hover, .btn-2__validation:hover {
  background-color: #e4d5f6;
  -webkit-box-shadow: 5px 5px 10px #a6a6a6;
          box-shadow: 5px 5px 10px #a6a6a6;
}

.header_reservation .header_bouton, .partie-commander_btn-commande {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(rgba(255, 121, 218, 0.9)));
  background: linear-gradient(to top left, #9356dc, rgba(255, 121, 218, 0.9));
  border-radius: 30px;
  color: white;
  padding: 20px;
  cursor: pointer;
  margin: 50px 0 20px 0;
  -webkit-box-shadow: 5px 5px 10px silver;
          box-shadow: 5px 5px 10px silver;
}

.header_reservation .header_bouton:hover, .partie-commander_btn-commande:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(147, 86, 220, 0.8)), to(rgba(255, 121, 218, 0.8)));
  background: linear-gradient(to top left, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
  -webkit-box-shadow: 5px 5px 10px #a6a6a6;
          box-shadow: 5px 5px 10px #a6a6a6;
}

.section__encadrement--image1, .section__encadrement--image2, .section__encadrement--image3, .section__encadrement--image4 {
  height: 400px;
  background-repeat: no-repeat, repeat;
  width: 100%;
  background-size: cover;
}

/*generalites*/
html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #0d0d0d;
  background-color: white;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.encadrement {
  margin: 0 15px;
}

/*margins*/
.m-1 {
  margin: 15px;
}

.mr-1 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 10px;
}

.pt-1 {
  padding-top: 9px;
}

.pb-1 {
  padding-bottom: 15px;
}

/*paddings*/
.p-1 {
  padding: 20px 10px;
}

.p-2 {
  padding: 0px 15px;
}

.p-3 {
  padding: 50px 0;
}

.p-4 {
  padding: 0 20px;
}

/*font-weight*/
.weight-5 {
  font-weight: 500;
}

.weight-7 {
  font-weight: 700;
}

.weight-9 {
  font-weight: 900;
}

/*line-height*/
.l-height {
  line-height: 25px;
}

/*background-color*/
.bg-2 {
  background-color: #8d8d8d;
}

/*section1*/
.main_section2_fonctionnement {
  padding: 50px 15px;
}

.main_section1_titre, .main_section2_titre {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 15px 0;
}

@media screen and (min-width: 1023px) {
  .main_section1_titre, .main_section2_titre {
    font-size: 2.1rem;
  }
}

.section1_boutons, .section2_cards, .section__titre-menu--boutons {
  text-decoration: none;
  color: white;
  color: #0d0d0d;
  display: block;
}

@media screen and (min-width: 1023px) {
  .section1_boutons, .section2_cards, .section__titre-menu--boutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6e6e6;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

@media screen and (min-width: 1023px) {
  .btn-l {
    width: 70%;
    font-size: 1.3rem;
    padding: 50px;
    margin: 10px;
  }
}

.btn-l:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.btn-l .fa-mobile-alt, .btn-l .fa-list, .btn-l .fa-store {
  color: #9356DC;
  font-weight: 900;
}

.btn-l .bulle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  margin-left: -10px;
  color: white;
}

@media screen and (min-width: 1023px) {
  .btn-l .bulle {
    font-size: 1.5rem;
    height: 45px;
    width: 45px;
    margin-left: -70px;
  }
}

@media (max-width: 365px) {
  .btn-1_bouton {
    padding-right: 30px;
  }
}

/*section2*/
.main_section2_titre {
  padding-left: 15px;
}

.main_section2_restaurants {
  background-color: #e6e6e6;
  padding: 50px 0;
  margin: 0;
}

@media screen and (min-width: 1023px) {
  .section2_cards {
    width: 50%;
  }
}

@media screen and (min-width: 1023px) {
  .ensemble-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1030px) and (max-width: 1380px) {
  .ensemble-cards {
    height: 700px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0 100px;
  }
}

@media (min-width: 415px) and (max-width: 1030px) {
  .ensemble-cards {
    margin: 0 200px;
  }
}

@media (min-width: 414px) {
  .ensemble-cards {
    margin: 0;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px silver;
          box-shadow: 5px 5px 10px silver;
}

@media screen and (min-width: 1023px) {
  .cards {
    height: 300px;
  }
}

@media (min-width: 1030px) and (max-width: 1380px) {
  .cards {
    width: 100%;
    margin: 30px;
  }
}

.cards:hover {
  -webkit-box-shadow: 5px 5px 10px #a6a6a6;
          box-shadow: 5px 5px 10px #a6a6a6;
}

.cards_images {
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
}

.cards_images .card-nouveau {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: #32b091;
  background-color: #99e2d0;
}

.cards_images .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards_images .card1 {
  height: 200px;
}

.cards_textes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  padding-left: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1.1rem;
  background-color: white;
}

@media (max-width: 365px) {
  .cards_textes {
    font-size: 0.9rem;
  }
}

.cards_textes .cards_textes--large {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  line-height: 35px;
}

@media (max-width: 365px) {
  .cards_textes .cards_textes--large {
    line-height: 30px;
  }
}

.cards_textes .cards_textes--large h3::first-letter {
  text-transform: uppercase;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* img,
video {
  height: auto;
  max-width: 100%;
} */
iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

body {
  position: relative;
}

/*div1*/
.div-apparition1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
  width: 100vw;
  height: 98vh;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeout 5s ease forwards;
          animation: fadeout 5s ease forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

/*plateau*/
.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  text-align: center;
  margin: 0 auto;
  width: 90vw;
  height: 80vh;
  border-radius: 30%;
  background-image: -webkit-gradient(linear, right bottom, left top, from(#c9abee), to(#ffdff6));
  background-image: linear-gradient(to top left, #c9abee, #ffdff6);
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100vw;
  height: 75vh;
  background-color: white;
  border-radius: 20%;
}

.container1_animation1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
}

.animation1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 0 50px;
}

.carre1, .carre2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 100px #9356DC;
          box-shadow: 5px 5px 100px #9356DC;
  opacity: .6;
  position: absolute;
  -webkit-animation: etirement 5s infinite ease-in-out forwards;
          animation: etirement 5s infinite ease-in-out forwards;
  border: 4px solid #9356DC;
  color: #99e2d0;
  border-radius: 15px;
}

.carre2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes etirement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes etirement {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.size-utensils {
  font-size: 1rem;
}

/*like*/
.container-heart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
}

.fa-heart {
  font-size: 22px;
  cursor: pointer;
  top: 50px;
  right: 40px;
  position: absolute;
}

@media screen and (max-width: 365px) {
  .fa-heart {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .fa-heart {
    font-size: 1.56rem;
  }
}

.fas1 {
  opacity: 0;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.fas1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: remplissage 1s forwards;
          animation: remplissage 1s forwards;
}

@-webkit-keyframes remplissage {
  100% {
    opacity: 1;
  }
}

@keyframes remplissage {
  100% {
    opacity: 1;
  }
}

.emplacement-coeur {
  background-color: mediumturquoise;
  margin: 0;
  padding: 0;
}

.btn-2 {
  background-color: white;
  line-height: 25px;
  padding: 0 0 0 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  margin: 8px 0;
  width: 100%;
}

.btn-2:hover {
  background-color: white;
}

.btn-2__menu {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 15px;
  height: 70px;
}

.btn-2__titre {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-2__texte {
  font-size: .85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-2__cout {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 0.9rem;
  padding: 0 30px 20px 15px;
}

.btn-2__validation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin: 0;
  padding: 0;
  background-color: #99e2d0;
  justify-content: center;
  width: 0;
  overflow: hidden;
  -webkit-transition: width ease-in-out 1s;
  transition: width ease-in-out 1s;
}

.btn-2__validation:hover {
  background-color: #99e2d0;
}

.btn-2__validation .fa-check {
  background-color: white;
  color: #99e2d0;
  border-radius: 50%;
  font-size: .6rem;
  text-align: center;
  padding: 4px;
  -webkit-transition: color 1s, -webkit-transform ease-in-out 1s;
  transition: color 1s, -webkit-transform ease-in-out 1s;
  transition: transform ease-in-out 1s, color 1s;
  transition: transform ease-in-out 1s, color 1s, -webkit-transform ease-in-out 1s;
}

.btn-2:hover .btn-2__validation {
  width: 30%;
}

.btn-2:hover .btn-2__validation > .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

header {
  text-align: center;
}

.header_logo--size {
  height: auto;
  max-width: 60%;
}

.header__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #e6e6e6;
  border-top: 2px solid #cccccc;
}

.header_reservation {
  background-color: #f0f0f0;
}

.header_reservation .header_titre2 {
  font-size: 1.3rem;
  padding: 0 30px 10px 30px;
}

@media screen and (min-width: 1023px) {
  .header_reservation .header_titre2 {
    font-size: 1.69rem;
    padding-top: 20px;
  }
}

.header_reservation .header_paragraphe {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 25px;
  color: #8d8d8d;
}

.header_reservation .header_bouton {
  display: inline-block;
}

@media screen and (min-width: 1023px) {
  .header_reservation .header_bouton {
    font-size: 1.56rem;
    border-radius: 45px;
    padding: 25px 30px;
  }
}

/*footer*/
.pied-de-page {
  margin: 0;
  height: 200px;
  padding: 20px 0 40px 22px;
  font-size: 0.8rem;
  color: white;
  background-color: #0d0d0d;
  line-height: 25px;
}

@media screen and (min-width: 1023px) {
  .pied-de-page {
    font-size: 0.96rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
  }
}

.pied-de-page .titre1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 0 0 20px 0;
}

@media screen and (min-width: 1023px) {
  .pied-de-page .titre1 {
    text-align: center;
    font-size: 1.12rem;
    margin: 30px 0 10px 0;
  }
}

.pied-de-page .pied-de-page_liens--dnone {
  list-style-type: none;
}

@media screen and (min-width: 1023px) {
  .pied-de-page .pied-de-page_liens--dnone {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.pied-de-page .pied-de-page_liens--dnone i a {
  text-decoration: none;
  color: white;
  list-style: none;
}

.d-none {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1023px) {
  .pied-de-page_liens--width {
    width: 100%;
    text-align: center;
  }
}

.header_logo--size2 {
  height: auto;
  max-width: 60%;
}

.section__page-retour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.section__page-retour__icone {
  width: 30%;
  padding-left: 20px;
  color: black;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1000;
}

.section__page-retour__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
}

.section__encadrement--image1 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.section__encadrement--image2 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.section__encadrement--image3 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.section__encadrement--image4 {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.section__menus-restaurant {
  background-color: #f0f0f0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -120px;
  padding: 0 15px;
}

.section__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1280px) {
  .section__restaurant {
    margin-bottom: 30px;
  }
}

.section__titre-restaurant {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.3rem;
  padding-top: 20px;
}

@media screen and (min-width: 1280px) {
  .section__titre-restaurant {
    font-size: 1.56rem;
  }
}

.section__titre-menu {
  text-transform: uppercase;
  border-bottom: 0.2em solid #99e2d0;
  width: 48px;
  padding-bottom: 5px;
  padding-top: 15px;
  font-size: 0.9rem;
}

@media screen and (min-width: 1280px) {
  .section__titre-menu {
    font-size: 1.17rem;
  }
}

.section__titre-menu--boutons {
  display: inline-block;
  width: 100%;
}

.partie-commander {
  background-color: #f0f0f0;
  height: 200px;
  padding-top: 30px;
}

.partie-commander_btn-commande {
  text-align: center;
  font-size: .95rem;
  margin: 0 80px;
}

@media screen and (min-width: 1023px) {
  .partie-commander_btn-commande {
    margin: 0 auto;
    width: 350px;
    font-size: 1.14rem;
  }
}

/*animation des menus*/
.animationMenus > div {
  -webkit-animation: apparaitre 1.6s ease-in-out;
          animation: apparaitre 1.6s ease-in-out;
}

.animationMenus .menu-entrees {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animationMenus .menu-plats {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.animationMenus .menu-desserts {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes apparaitre {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparaitre {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .animationMenus {
    margin: 0 50px;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .animationMenus {
    margin: 0 150px;
  }
}

@media screen and (min-width: 1280px) {
  .animationMenus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 500px;
  }
}

.section__encadrement--image2 {
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.section__encadrement--image3 {
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.section__encadrement--image4 {
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
/*# sourceMappingURL=main.css.map */