// /*resets*/
// @import '/minireset.css';
// @import '/normalize.css';

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

//colors
$primary-color: #9356DC;
$third-color: #99e2d0;
$color-black: #0d0d0d;
$color-white: #f1f1f1;

//background colors
$background-gray1: #808080;
$background-gray2: #e3e3e3;
$background-gray3: #d9d9d9;

//border colors
$border: #bfbfbf;

//sizes
$initial-size: 1rem;
$first-size: 1.1rem;
$second-size: 1.2rem;
$third-size: 1.3em;
$fourth-size: 1.4rem;

$taille-logo: 60%;

//polices
$first_font-family: 'Roboto', sans-serif;
$second_font-family: 'Shrikhand', sans-serif;

$margin-mobile: 0 15px;//a voir

//weights
$font-weight-1: 500;
$font-weight-2: 700;
$font-weight-3: 900;

//mixins
@mixin dnone {
    text-decoration: none;
    color: $color-white;
}

//css
/*generalites*/
html, body {
    width: 100%;
    height: 100vh;
    font-family: $first_font-family;
    font-size: $first-size;
    color: $color-black;
    background-color: $color-white;
}

* {
	box-sizing: border-box;
    
    margin: 0;
    padding: 0;
} 

.encadrement {
    margin: $margin-mobile;
}

/*margins*/
.m-1 {
    margin: 15px;
}

.mr-1 {
    margin-right: 30px;
}

.mr-2 {
    margin-right: 10px;
}

/*paddings*/
.p-1 {
    padding: 20px 10px;
}

.p-2 {
    padding: 0px 15px;
}

.p-3 {
    padding: 50px 0;
}

/*font-weight*/
.weight-1 {
    font-weight: $font-weight-1;
}
    
.weight-2 {
    font-weight: $font-weight-2;
}

.weight-3 {
    font-weight: $font-weight-3;
}
        
/*line-height*/
.l-height {
    line-height: 25px;
}
    
/*background-color*/
.bg-2 {
    background-color: $background-gray1;
}


//
header, .bulle {
    text-align: center;
}

.header_logo--size {
    height: auto;
    max-width: $taille-logo;
} 
    
.header_reservation {
    background-color: $background-gray2;   
}
    
.header__localisation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
    background-color: $background-gray3; 
    border-top: 2px solid $border;
}
    
.header_titre2 {
    font-size: $third-size;
    padding: 0 30px 10px 30px;
}
    
.header_paragraphe {
    font-size: $initial-size;
    margin-top: 10px;
    line-height: 26px;
    color: #737373;
}

.header_bouton {
    display: inline-block;
    // background: linear-gradient(#FF79DA, #9356DC);
    // background: linear-gradient(to bottom right, #FF79DA, #9356DC 90%);
    background: linear-gradient(to top left, rgb(147, 86, 220),rgba(255, 121, 218, 0.9));
    border-radius: 30px;
    color: $color-white;
    padding: 20px;
    cursor: pointer;
    margin: 50px 0 20px 0;
    box-shadow: 5px 5px 10px #bfbfbf;
}
    
.header_bouton:hover {
    color: $color-white;/**/
}

/*section1*/
main {
    padding-bottom: 30px;
}
section:first-child {
    padding: 50px 15px;
}
.main_section1_titre {
    text-align: left;
    font-size: $fourth-size;
    font-weight: $font-weight-3;
    padding: 15px 0;
}
        
.section1_boutons {
    text-decoration: none;
    color: $color-black;
    display: block;
}

.btn-l {
    display: flex;
    align-items: center;
    background-color: $background-gray3;
    margin: 30px 0;
    border-radius: 25px;
    height: 90px;
    box-shadow: 5px 5px 10px #bfbfbf;
    &:hover {
        background-color: rgba(147, 86, 220, 0.2);
    }
    .fa-mobile-alt, .fa-list, .fa-store {
        color: $primary-color;
        font-weight: $font-weight-3;
    }
}

.bulle {
    background-color: $primary-color;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    margin-right:30px;
    margin-left: -10px;
    color: $color-white;
}
    
/*section2*/
.main_section2_titre {
    @extend .main_section1_titre;
    padding-left: 15px;
}

.section:last-child {
    background-color: $background-gray3;
    padding: 50px 0;
    margin: 0;   
}
    
.cards_images {
    background-color: $color-white; 
    border-top-right-radius: 30px; 
    border-top-left-radius: 30px; 
    overflow: hidden; 
    object-fit: cover;
    position: relative;
}
    
.cards {
    display: flex; 
    flex-direction: column; 

    margin: 20px 0;
    padding: 0 20px;
}
    
.card1 {
    height: 200px;
}
    
.image {
    width: 100%;
    object-fit: cover;
}
    
.cards_textes {
    display: flex;
    align-items: center;
    line-height: 21px;
    padding-left: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.1rem;
    background-color: $color-white;

    box-shadow: 0px 4px 4px #d3d2d2;
}
    
.cards_textes--large {
    flex: 3;
    line-height: 35px;
}
    
.cards_textes--court {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

/*heart*/
.back{
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .4s linear;
}
    
.front{
    transform:rotate(0deg);
}

.back{
    transform: rotateY(180deg);
}

.back-content{
    background-image: linear-gradient(to bottom right, pink, indigo);  
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}

.heart:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}

.heart:hover > .back{
    transform: perspective(600px) rotateY(0deg);
} 
/**/  
    
h3::first-letter{
    text-transform: uppercase;
}
    
.card-nouveau {
    font-size: 0.8rem;
    font-weight: $font-weight-2;
    padding: 8px;
    border-radius: 5px;
    
    position: absolute;
    top : 20px;
    right: 20px;
    z-index: 1000;
    
    color:#278b72;
    background-color: $third-color;
}
    
.titre1 {
    font-family: $second_font-family;
}
    
/*footer*/
footer {
    margin: 0;
    padding: 10px 0 40px 22px;
    font-size: 0.8rem;
    color: $color-white;
    background-color: $color-black;
    line-height: 26px;
    .titre1 {
        font-size: 0.8rem;
        font-weight: 100;
        margin: 20px 0;
    }

    ul {
        list-style-type: none;
        & li a  {
            @include dnone;
            list-style: none;
        }
    }

    .d-none  {
        @include dnone;
    }
}         