/*generalites*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #0d0d0d;
  background-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.encadrement {
  margin: 0 15px;
}

/*margins*/
.m-1 {
  margin: 15px;
}

.mr-1 {
  margin-right: 30px;
}

.mr-2 {
  margin-right: 10px;
}

/*paddings*/
.p-1 {
  padding: 20px 10px;
}

.p-2 {
  padding: 0px 15px;
}

.p-3 {
  padding: 50px 0;
}

/*font-weight*/
.weight-5 {
  font-weight: 500;
}

.weight-7 {
  font-weight: 700;
}

.weight-9 {
  font-weight: 900;
}

/*line-height*/
.l-height {
  line-height: 25px;
}

/*background-color*/
.bg-2 {
  background-color: #8d8d8d;
}

header, .bulle {
  text-align: center;
}

.header_logo--size {
  height: auto;
  max-width: 60%;
}

.header__localisation {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #e6e6e6;
  border-top: 2px solid #cccccc;
}

.header_reservation {
  background-color: #f0f0f0;
}
.header_reservation .header_titre2 {
  font-size: 1.3em;
  padding: 0 30px 10px 30px;
}
.header_reservation .header_paragraphe {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 25px;
  color: #8d8d8d;
}
.header_reservation .header_bouton {
  display: inline-block;
  background: linear-gradient(to top left, #9356dc, rgba(255, 121, 218, 0.9));
  border-radius: 30px;
  color: white;
  padding: 20px;
  cursor: pointer;
  margin: 50px 0 20px 0;
  box-shadow: 5px 5px 10px #e6e6e6;
}
.header_reservation .header_bouton:hover {
  background: linear-gradient(to top left, rgba(147, 86, 220, 0.8), rgba(255, 121, 218, 0.8));
  box-shadow: 5px 5px 10px #b3b3b3;
}

/*section1*/
main {
  padding-bottom: 30px;
}

section:first-child {
  padding: 50px 15px;
}

.main_section1_titre, .main_section2_titre {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 15px 0;
}

.section1_boutons {
  text-decoration: none;
  color: #0d0d0d;
  display: block;
}

.btn-l {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  margin: 30px 0;
  border-radius: 25px;
  height: 90px;
  box-shadow: 5px 5px 10px #e6e6e6;
}
.btn-l:hover {
  background-color: #e4d5f6;
  box-shadow: 5px 5px 10px #b3b3b3;
}
.btn-l .fa-mobile-alt, .btn-l .fa-list, .btn-l .fa-store {
  color: #9356DC;
  font-weight: 900;
}
.btn-l .bulle {
  background-color: #9356DC;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  margin-left: -10px;
  color: white;
}

/*section2*/
.main_section2_titre {
  padding-left: 15px;
}

.section:last-child {
  background-color: #e6e6e6;
  padding: 50px 0;
  margin: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 20px;
}

.cards_images {
  background-color: white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}
.cards_images .card-nouveau {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: #32b091;
  background-color: #99e2d0;
}
.cards_images .image {
  width: 100%;
  object-fit: cover;
}
.cards_images .card1 {
  height: 200px;
}

.cards_textes {
  display: flex;
  align-items: center;
  line-height: 20px;
  padding-left: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 1.1rem;
  background-color: white;
  box-shadow: 5px 5px 10px #e6e6e6;
}
.cards_textes:hover {
  box-shadow: 5px 5px 10px #b3b3b3;
}
.cards_textes .cards_textes--large {
  flex: 3;
  line-height: 35px;
}
.cards_textes .cards_textes--large h3::first-letter {
  text-transform: uppercase;
}
.cards_textes .cards_textes--court {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

/*heart*/
.heart .front {
  transform: rotate(0deg);
}
.heart .back {
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.4s linear;
  transform: rotateY(180deg);
}
.heart .back .back-content {
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.heart:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.heart:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/*footer*/
footer {
  margin: 0;
  padding: 10px 0 40px 22px;
  font-size: 0.8rem;
  color: white;
  background-color: #0d0d0d;
  line-height: 25px;
}
footer .titre1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  margin: 20px 0;
}
footer ul {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
  list-style: none;
}
footer .d-none {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
