/*fichiers css qui reinitialise*/
@import 'minireset.css';
@import 'normalize.css';

/*generalites*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

* {
	box-sizing: border-box;
} 

.encadrement {
    margin: 1rem;
}

header, .bulle {
    text-align: center;
}

/*margins*/
.m-1 {
    margin: 15px;
    }

.mr-1 {
    margin-right: 30px;
}

.mr-2 {
    margin-right: 10px;
}

/*paddings*/
.p-1 {
    padding: 15px 0;
}

.p-2 {
    padding: 0px 15px;
}

.p-3 {
    padding: 50px 0;
}

/*font-weight*/
.weight-1 {
font-weight: 500;
}

.weight-2 {
    font-weight: 700;
    }
    
/*line-height*/
.l-height {
    line-height: 25px;
}

/*background-color*/
.bg-2 {
    background-color: gray;
}


/*header*/
.header_logo--size {
        height: auto!important;/**/
        max-width: 40%!important;
} 

.header_reservation {
background-color:#f2f2f2;
}

.header__location {
    display: flex;
    justify-content: center;
    align-items: baseline;

    background-color: #E2E2E2;
    border-top: 2px solid #bfbfbf;
}

.header_titre2 {
    font-size: 1.5rem;
    padding: 0 70px 10px 70px;
    
}

.header_paragraphe {
    font-size: 1.2rem;
    margin: 15px 0;
    line-height: 22px;
}

.header_bouton {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 30px;
    color: #fff;
    padding: 20px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 5px 5px 10px #bfbfbf;
}

.header_bouton:hover {
    background-color: blue;
    color: pink;
}


/*section1*/
.main_section1_titre {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

section {
    padding: 50px 0;
}

.btn-l {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    margin: 20px 0;
    border-radius: 20px;
    height: 70px;
    box-shadow: 5px 5px 10px #bfbfbf;
}

.btn-l:hover {
    background-color: ;
}

.bulle {
    background-color: purple;
    border-radius: 30px;
    height: 21px;
    width: 21px;
    margin-right:30px;
    margin-left: -10px;
    color: #fff;
}

.section1_boutons {
    text-decoration: none;
    color: black;

    display: block;
}

/* 
.section1_boutons:hover {

} */

/*section2*/
.main_section2_titre {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    /* margin-bottom: 15px; */
}
section:last-child {
    background-color: #f2f2f2;
    padding: 50px 15px;
}

.cards_images {
    background-color: white; 
    border-top-right-radius: 30px; 
    border-top-left-radius: 30px; 
    overflow: hidden; 
    object-fit: cover;

    position: relative;
}

.cards {
    display: flex; 
    flex-direction: column; 
    box-shadow: 0px 4px 4px #d3d2d2;
    border-radius: 30px;
    margin: 15px 0;
}

.card1 {
    height: 200px;
}

.image {
    width: 100%;
    object-fit: cover;
}

.cards_textes {
    display: flex;
    align-items: center;
    line-height: 21px;
    padding-left: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 1.1rem;
    background-color: #fff;
}

.cards_textes--large {
    flex: 4;
}

.cards_textes--court {
    flex: 1;
    text-align: center;
}
/*
.premier-plan {
    color: purple;
}

.premier-plan:hover {
    visibility: hidden;
} */

h3::first-letter{
    text-transform:uppercase;
}


.card-nouveau {
    z-index: 1000;
    background-color: lightgreen;

    position: absolute;
    top : 20px;
    right: 20px;

    padding: 8px;
}

.titre1 {
    font-family: 'Shrikhand', sans-serif;
}

/*footer*/
footer {
    padding: 10px 0 40px 22px;
    font-size: 1rem;
    color: #fff;
    background-color: #1a1a1a;
}

.titre1 {
    font-size: 1rem;
}

ul li a, .d-none  {
    text-decoration: none;
    color: #fff;
}