/*footer*/
.pied-de-page {
    margin: 0;
    padding: 20px 0 40px 22px;
    height: 200px;
    font-size: $size-sm;
    line-height: $line-height25;
    color: $color-white;
    background-color: $color-black;
    @media screen and (min-width: 1023px){
        height: 250px;
        display: flex;
        flex-direction: column;
        font-size: $size-sm *1.2;      
    }
    .titre1 {
        padding: 0 0 20px 0;
        font-family: $second_font-family;
        font-size: $size-sm2;
        font-weight: $font-weight-1;
        @media screen and (min-width: 1023px){
            margin: 30px 0 10px 0;
            text-align: center;
            font-size: $size-sm *1.4;
        }
    }

    .pied-de-page_liens--dnone {
        list-style-type: none;
        @media screen and (min-width: 1023px){
        flex: 2;
        }
        & i a  {
            @include dnone;
            list-style: none;
        }
        }
    }

    .d-none  {
        @include dnone;
    }
    .pied-de-page_liens--width {
        @media screen and (min-width: 1023px){
            width: 100%;
            text-align: center;
        }
}     