header {
    text-align: center;
    background-color: $color-white;
}

.header_logo--size {
    height: auto;
    max-width: nth($taille-logo, 1);
} 

.section__page-retour {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.section__page-retour__icone {
    position: absolute;
    left: 0;
    z-index: 1000;
    width: 30%;
    padding-left: 10px;
    color: $color-black;    
    @media screen and (min-width: 446px) {
        top: 20px;  
    }
    @media screen and (min-width: 550px) {
        top: 27px;  
    }
    @media screen and (min-width: 640px) {
        top: 30px;  
    }
    @media screen and (min-width: 669px) {
        top: 20px;  
    }
    @media screen and (min-width: 670px) {
        top: 35px;
    }
}

.section__page-retour__logo {
    flex: 1;
    position: relative;
    text-align: center;
    background-color: $color-white;
}