/*like*/
.container-heart {
    position: relative;
    @include flexCenter;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100px;
    height: 100px;
    @media (max-width: 320px) {        
    width: 68px;
    }
} 

.fa-heart {
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 1.375rem;
    cursor: pointer;
    
    @media screen and (max-width: 365px){
        font-size: 1.125rem;
    }
    @media (min-width: 769px) and (max-width: 1279px) {        
        font-size: $third-size;   
    }
    @media screen and (min-width: 1280px) {        
        font-size: $third-size *1.1;  
    }
}

.fas1 {
    @include linear-gradient; 
    opacity: 0;     
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
}

.fas1:hover {
    transform: scale(1.1);
    animation: remplissage 1s forwards;
}

@keyframes remplissage {
    100% {
        opacity: 1;
    }
}