/*like*/
.container-heart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    @media (max-width: 320px) {        
    width: 68px;
    }
} 

.fa-heart {
    font-size: 1.375rem;
    cursor: pointer;
    top: 50px;
    right: 40px;
    position: absolute;
    @media screen and (max-width: 365px){
        font-size: 1.125rem;
    }

    @media (min-width: 769px) and (max-width: 1279px) {        
        font-size: $third-size;   
        }
    @media screen and (min-width: 1280px) {        
        font-size: $third-size *1.1;  
}
}

.fas1 {
    opacity: 0;
    background-image: linear-gradient(to top right, $secondary-color, $primary-color);  
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.fas1:hover {
    transform: scale(1.1);
    animation: remplissage 1s forwards;
}

@keyframes remplissage {
    100% {
        opacity: 1;
    }
}

.emplacement-coeur {
    margin: 0;
    padding: 0;
    background-color: mediumturquoise;    
}