//mixins
@mixin dnone {
    text-decoration: none;
    color: $color-white;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin shadows {
    box-shadow: 5px 5px 10px darken($background-gray3, 15%);
}

@mixin more-shadows {
    box-shadow: 5px 5px 10px darken($background-gray3, 25%);
}

@mixin border-top-radius {
    border-top-right-radius: nth($border-radius, 4);
    border-top-left-radius: nth($border-radius, 4); 
}