//colors
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99e2d0;
//light
$primary-color-light10: lighten($primary-color, 10%);
$primary-color-light20: lighten($primary-color, 20%);
$primary-color-light30: lighten($primary-color, 30%);//background btn-base/hover

$secondary-color-light: lighten($secondary-color, 20%);
$third-color-light: lighten($third-color, 5%);
//dark
$primary-color-dark: darken($third-color, 30%);

//basics
$color-black: #0d0d0d;
$color-white: lighten($color-black, 95%);
//background colors
$background-gray50: lighten($color-black, 50%);
$background-gray85: lighten($color-black, 85%);
$background-gray89: lighten($color-black, 89%);

//background colors dark
$background-gray85-dark1: darken($background-gray85, 15%);
$background-gray85-dark2: darken($background-gray85, 25%);
//border colors
$border: lighten($color-black, 75%);

//sizes
$size-sm: 0.8rem;
$size-sm1: 0.85rem;
$size-sm2: 0.9rem;
$initial-size: 1rem;
$first-size: 1.1rem;
$second-size: 1.2rem;
$third-size: 1.3rem;
$fourth-size: 1.4rem;
$fifth-size: 1.5rem;


//size logo
$taille-logo: 60% 10%;

//polices
$first_font-family: 'Roboto', sans-serif;
$second_font-family: 'Shrikhand', sans-serif;

//weights
$font-weight-1: 100;
$font-weight-5: 500;
$font-weight-7: 700;
$font-weight-9: 900;

//line-height
$line-height20: 20px;
$line-height25: 25px;
$line-height30: 30px;
$line-height35: 35px;

//border radius px
$border-radius: 5px 25px 30px 45px 50px 15px;

//border radius %
$border-radius20: 20%;
$border-radius30: 30%;
$border-radius50: 50%;

//margin
$margin-mobile: 0 15px;