.btn-2 {
    @extend %btn-base;
    width: 100%;
    margin: 8px 0;
    padding: 0 0 0 15px;
    line-height: $line-height25;
    align-items: flex-end; 
    overflow: hidden;
    background-color: $color-white;
    &:hover {
        background-color: $color-white;
    }
}

.btn-2__menu {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-bottom: 15px;
    height: 70px;//ok
}

.btn-2__titre {
    font-size: $initial-size;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__texte  {
    font-size: $size-sm1;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__cout {
    align-self: flex-end;
    font-size: $size-sm2;
    padding: 0 30px 20px 15px;
}

.btn-2__validation {
    @extend %btn-base;
    justify-content: center;
    width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $third-color;
    transition: width ease-in-out 1s;
    &:hover {
        background-color: $third-color;
    }
    
.fa-check {
    padding: 4px;
    font-size: .6rem;
    text-align: center;
    border-radius: 50%;
    color: $third-color;
    background-color: $color-white;    
    transition: transform ease-in-out 1s, color 1s;
    }
}

.btn-2:hover .btn-2__validation {
    width: 30%;
    @media screen and (min-width: 768px) {
        width: 20%;
    }
    @media screen and (min-width: 1280px) {
        width: 10%;
    }
}

.btn-2:hover .btn-2__validation > .fa-check  {
    transform: rotate(360deg);
}