.btn-2 {
    @extend %btn-base;
    background-color: $color-white;
    line-height: $line-height30;
    padding: 0 0 5px 15px;
    align-items: flex-end; 
    overflow: hidden;
    margin: 8px 0;
    width: 100%;
    &:hover {
        background-color: $color-white;
    }
}

.btn-2__menu {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    padding-bottom: 15px;
    height: 70px;//ok
}

.btn-2__titre {
    font-size: $initial-size;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__texte  {
    font-size: .85rem;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__cout {
    align-self: flex-end;
    font-size: $size-sm2;
    padding: 0 30px 15px 0;
}

.btn-2__validation {
    @extend %btn-base;
    justify-content: center;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0;
    background-color: $third-color;
    justify-content: center;
    width: 0;
    overflow: hidden;
    transition: width ease-in-out 1s;
    &:hover {
        background-color: $third-color;
    }
    
.fa-check {
    background-color: $color-white;
    color: $third-color;
    border-radius: 50%;
    font-size: .7rem;
    text-align: center;
    padding: 5px;
    transition: transform ease-in-out 1s, color 1s;
    }
}

.btn-2:hover .btn-2__validation {
    width: 30%;
}

.btn-2:hover .btn-2__validation > .fa-check  {
    transform: rotate(360deg);
}