/*like*/
// @mixin like {
//     flex: 1;
//     position: relative;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.container-heart {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
} 

.fa-heart {
    font-size: 22px;
    cursor: pointer;
    top: 50px;
    right: 40px;
    position: absolute;
    @media (max-width: 365px){
        font-size: 18px;
    }
}

.fas1 {
    opacity: 0;
    background-image: linear-gradient(to top right, $secondary-color, $primary-color);  
    background-clip: text;//
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.fas1:hover {
    transform: scale(1.1);
    animation: remplissage 1s forwards;
}

@keyframes remplissage {
    100% {
        opacity: 1;
    }
}

.emplacement-coeur {
    background-color: mediumturquoise;
    margin: 0;
    padding: 0;
}