//css
header {
    text-align: center;
}

.header_logo--size {
    height: auto;
    max-width: nth($taille-logo, 1);
} 
    
.header__localisation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: $background-gray3; 
    border-top: 2px solid $border;
}

.header_reservation {
    background-color: $background-gray2;   
    .header_titre2 {
        font-size: $third-size;
        padding: 0 30px 10px 30px;
        @media screen and (min-width: 1023px){
            font-size: $third-size *1.3;
            padding-top: 20px;
        }
    }
    .header_paragraphe {
        font-size: $initial-size;
        margin-top: 10px;
        line-height: $line-height25;
        color: $background-gray1;
    }

    .header_bouton {
        display: inline-block;
        @extend %bouton-clicable;
        @media screen and (min-width: 1023px){
            font-size: $third-size *1.2;
            border-radius: nth($border-radius, 4);
            padding: 25px 30px;
        }
    }
}
