.header_logo--size2 {
    height: auto;
    max-width: nth($taille-logo, 1);
}

.section__page-retour {
    display: flex;
    padding: 10px;
    justify-content: baseline;
    align-content: baseline;
    align-items: center;
    @media screen and (min-width: 1023px){
        width: 100%;
        }
}

.section__page-retour__icone {
    width: 25%;
    color: black;
}

.section__page-retour__logo {
    flex: 1;
}

.section__encadrement--image1 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image2 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image3 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image4 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}



.section__menus-restaurant {
    background-color: $background-gray2;
    @include border-top-radius;
    margin-top: -100px;
    padding: 0 20px 40px 20px;
}

.section__restaurant {
    display: flex;
    padding: 35px 0;
}

.section__titre-restaurant {
    flex: 4;
    font-family: $second_font-family;
    font-size: $fourth-size;
}
.restaurant-like {
    flex: 1;
    justify-content: baseline;
    text-align: center;
}

.section__titre-menu{
    text-transform: uppercase;
    border-bottom: .2em solid $third-color;
    width: 40px;
    padding-bottom: 5px;
    font-size: $size-sm2;
}

.section__titre-menu--boutons {
    @extend .section1_boutons;
    // display: inline-block;
    display: block;//a voir
}

.btn-2{
    @extend %btn-base;
    background-color: $color-white;
    line-height: $line-height30;
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: flex-end;
    margin-right: 0;

    &:hover {
        background-color: $color-white;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        // transition: all 1s ease-out;
        
        // margin-right: -100px;
    }
}

.btn-2__menu {
    flex: 5;
// width: 800px;
    margin-right: 0;
    // &:hover {
    //     margin-right: -100px;
    //     transition: all 1s ease-out;
    // }
}

.btn-2__titre {
    font-size: $initial-size;
}

.btn-2__texte  {
    font-size: .85rem;

    white-space: nowrap; 
    width: 290px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


.btn-2__validation {
    display: flex;
    width: 90px;
    height: 40px;
    background-color: mediumslateblue;

    position: relative;
}

// .btn-2__validation:hover {
//     width: 200px;
//    }


.btn-2__cout {
    flex: 1;
    text-align: center;
    font-size: $size-sm2;
    padding: 0 30px;

    // margin-right: 0;
    // &:hover {
    //     margin-left: -100px;
    //     transition: all 1s ease-out;
    // }
}

.hidden{
    
    // transition: all 1s ease-out;
    @extend %btn-base;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100px;
    background-color: $third-color;

    position: absolute;
    top: -65px;
    
    &:hover {
        background-color: $third-color;
        width: 100px;
        // transition: all 1s ease-out;
    }
}

.fa-check {
background-color: $color-white;
color: $third-color;
border-radius: 30px;
font-size: .6rem;
text-align: center;
padding: 4px;
margin-left: 40px;
width: 21px;

transition: transform .7s;
&:hover {
    transform: rotate(-360deg);
}
}

.partie-commander {
    background-color: $background-gray2;
    height: 150px;
}

.partie-commander_btn-commande {
    @extend %bouton-clicable;
    text-align: center;
    font-size: .95rem;
    margin: 0 80px;
    @media screen and (min-width: 1023px){
        margin: 0 auto;
        width: 350px;
        font-size: .95rem * 1.2;
    }
}


/*animation des menus*/
.animationMenus > div {
    animation: apparaitre 1.6s ease-in-out;
}

.animationMenus .menu-entrees {
    animation-delay: 1s;
}

.animationMenus .menu-plats {
    animation-delay: 1.3s;  
}

.animationMenus .menu-desserts {
    animation-delay: 1.6s;
}

@keyframes apparaitre {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
