.header_logo--size2 {
    height: auto;
    max-width: nth($taille-logo, 1);
}

.section__page-retour {
    display: flex;
    padding: 10px;
    justify-content: baseline;
    align-content: baseline;
    align-items: center;
    @media screen and (min-width: 1023px){
        width: 100%;
        }
}

.section__page-retour__icone {
    width: 25%;
    color: black;
}

.section__page-retour__logo {
    flex: 1;
}

.section__encadrement--image1 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image2 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image3 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}


.section__encadrement--image4 {
    background-image: $bg-image_1;
    @extend %encadrement-image;
}



.section__menus-restaurant {
    background-color: $background-gray2;
    @include border-top-radius;
    margin-top: -100px;
}

.section__restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.section__titre-restaurant {
    flex: 4;
    justify-content: center;
    
    font-family: $second_font-family;
    font-size: $third-size;
    padding-top: 20px;
}

.section__titre-menu{
    text-transform: uppercase;
    border-bottom: .2em solid $third-color;
    width: 40px;
    padding-bottom: 5px;
    font-size: $size-sm2;
}

.section__titre-menu--boutons {
    @extend .section1_boutons;
    display: inline-block;
    width: 100%;
}

.btn-2{
    @extend %btn-base;
    background-color: $color-white;
    line-height: $line-height30;
    padding-left: 15px;
    padding-bottom: 15px;
    align-items: flex-end;
    overflow: hidden;

    width: 100%;
    &:hover {
        background-color: $color-white;
    }
}

.btn-2__menu {
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

    &:hover {
        animation: gauche 1s ease both;
    }
}

@keyframes gauche {
    100% {
        width: 80%;
    }
}

.btn-2__titre {
    font-size: $initial-size;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__texte  {
    font-size: .85rem;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.btn-2__validation {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 200px;//a voir
    height: 60px;//ok
    background-color: mediumslateblue;
}


.btn-2__cout {
    // flex: 1;
    text-align: center;
    font-size: $size-sm2;
    padding: 0 30px;
    // width: 50px;//a voir
}

.hidden{
    @extend %btn-base;
    justify-content: center;
    align-content: center;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: $third-color;
    &:hover {
        background-color: $third-color;
        // width: 100px;//affichage bouton vert
    }
    
.fa-check {
    background-color: $color-white;
    color: $third-color;
    border-radius: 30px;
    font-size: .6rem;
    text-align: center;
    padding: 4px;
    width: 21px;

    
    -webkit-animation: 2s linear 10ms 2 rotation;
    -moz-animation: 2s linear 10ms 2 rotation;
    animation: 2s linear 10ms 2 rotation;
    }
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.partie-commander {
    background-color: $background-gray2;
    height: 150px;
}

.partie-commander_btn-commande {
    @extend %bouton-clicable;
    text-align: center;
    font-size: .95rem;
    margin: 0 80px;
    @media screen and (min-width: 1023px){
        margin: 0 auto;
        width: 350px;
        font-size: .95rem * 1.2;
    }
}


/*animation des menus*/
.animationMenus > div {
    animation: apparaitre 1.6s ease-in-out;
}

.animationMenus .menu-entrees {
    animation-delay: 1s;
}

.animationMenus .menu-plats {
    animation-delay: 1.3s;  
}

.animationMenus .menu-desserts {
    animation-delay: 1.6s;
}

@keyframes apparaitre {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
