
/*body*/
body {
    margin: 0;
    padding:0;

    background-color: lightgrey;
    /* overflow: hidden; */

    width: 100%;
    height: 100%;
}

/*div1*/
.div-apparition1 {

    background-color: lightgrey;
    width: 100%;
    height: 100%;

    position: absolute;

    animation: fadeout 5s ease forwards;
    animation-delay: 5s;
}

@keyframes fadeout {
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}


/*plateau loading*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 900px;
    height: 500px;

    color: black;
    margin: 0 auto;
    margin-top: 60px;/**/
    text-align: center;

    border-top: 50px solid #000066;
    border-bottom: 50px solid #000066;
    border-radius: 50px;
}

.container1_animation1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */

    width: 200px;
    height: 200px;    
}

.animation1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 50px;
}

.carre1, .carre2, .carre3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px lightblue;
    opacity: .6;
    position: absolute;
    animation: etirement 6s infinite ease-in-out forwards; 
    border: 5px solid #000066;
}

.carre2 {
    animation-delay: -4s;
}

.carre3 {
    animation-delay: -2s;
}

@keyframes etirement {
    0% {
        transform: scale(0);
    } 
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

/*div2*/
.div-apparition2 {
    width: 100%;
    height: 100vh;
    background-color: white;
}

